@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #f0f2f7;
  font-family: 'Pretendard', -apple-system, 'Malgun Gothic', sans-serif;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
